---
import Base from "../../layouts/Base.astro";
import Intro from "../../components/Intro.astro";
import '../../styles/blogpost.css';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map(post => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((p) => p.slug === slug);
if (!post) throw new Error(`Post not found: ${slug}`);
const { Content } = await post.render();

const formatDate = (d?: string) => {
    if (!d) return '';
    const dt = new Date(d);
    return dt.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
};
---

<Base title={post.data.title} description={post.data.description}>
    <Intro page={formatDate(post.data.date)} title={post.data.title}>
        {post.data.description}
    </Intro>
    <div class="mx-4 flex flex-col gap-2">
        <Content />
    </div>
</Base>