---
import { getCollection } from 'astro:content';
import BaseLayout from '../../components/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection('blog');
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const postCount = posts.length
var label = "post"
if (postCount > 1) {label="posts"}
---
<BaseLayout pageTitle={tag}>
    <div class="navbar flexrow container globalTagList tagPageAdjust">
        <span>{postCount} {label} tagged with</span>
        <script is:inline define:vars={{tag}}>
            const parent = document.getElementsByClassName('globalTagList')[0]
            const a = document.createElement('a');
            a.href = "/tags/"+tag
            a.classList.add('tagbutton', 'fullnohover')
            const hash = '<i class="fa-solid fa-hashtag fullnohover"></i>'
            a.innerHTML = hash+"<span class='fullnohover'>"+tag+"</span>"
            parent.append(a)
        </script>
    </div>
    {
        posts.map((post) => <BlogPost  slug={post.slug} title={post.data.title} description={post.data.description} date={post.data.pubDate} tags={post.data.tags} />)
    }
</BaseLayout>