---
import Base from "../layouts/Base.astro";
import Intro from "../components/Intro.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const formatDate = (d: string | null | undefined) => {
    if (!d) return '';
    const dt = new Date(d);
    const month = dt.toLocaleString('en-US', { month: 'long' });
    const day = dt.getDate();
    const year = dt.getFullYear();
    return `${month} ${day}, ${year}`;
};

const pageDesc = "witness the freshly pressed brain juice of an autistic person";
---

<Base title="buh / blog" description={pageDesc}>
    <Intro page="/ blog" title="yapping section">
        {pageDesc}
    </Intro>

    <div class="flex flex-col gap-4">
        <p class="p-4 font-bold text-center">No posts right now, starting fresh!</p>
        {posts.map((post) => (
            <a href={`/blog/${post.slug}`} class="p-4 bg-secondary radius-default flex flex-col gap-2 border-color-default border">
                <div class="text-xl font-bold">{post.data.title}</div>
                {post.data.date ? <div class="flex flex-row gap-1 text-deadlock-green font-semibold"><Icon name="lucide:calendar" class="relative top-0.5" />{formatDate(post.data.date)}</div> : null}
                {post.data.description ? <p class="">{post.data.description}</p> : null}
            </a>
        ))}
    </div>
</Base>