---
const charLink = "https://eu.finalfantasyxiv.com/lodestone/character/46616687/";
const world = "✿ Phoenix (Light DC)";
const msq = "Early Dawntrail (Inactive)"

const jobs = {
    pictomancer: "90",
    redmage: "90",
    bard: "90",
    viper: "90",
    reaper: "90",
    samurai: "80"
};

import bocchiPlate from "../img/sites/bocchi-plate.png";
import bocchiRender from "../img/sites/bocchi-render.jpg";

import LayoutBase from "../components/LayoutBase.astro";
import Container from "../components/Container.astro";
import ContSection from "../components/ContSection.astro";
import { Image } from "astro:assets";
import '../styles/ffxiv.css';
const pageTitle = "ame / ffxiv"
const description = "buh"
---

<LayoutBase pageTitle={pageTitle}>
    <div class="ffxiv-divplate">
        <Image
            src={bocchiPlate}
            alt="B'occhi Rhock's Adventurer Plate"
            class="ffxiv-advplate"
        />
    </div>

    <Container title="THAL'S BALLS">
        <ContSection>
            <h1><a href={charLink} target="_blank">B'occhi Rhock</a></h1>
            <div class="ffxiv-characterinfo flex row">
                <Image
                    src={bocchiRender}
                    alt="A render of B'occhi Rhock"
                    class="ffxiv-render"
                />
                <div class="ffxiv-infopanel flex col">
                    <div>
                        <p class="accent">World</p>
                        {world}
                    </div>
                    <div>
                        <p class="accent">Free Company</p>
                        <span><p>None</p></span>
                </div>
                <div>
                    <p class="accent">MSQ Progress</p>
                    <p>{msq}</p>
                </div>
                <div>
                    <p class="accent">Main Jobs</p>
                    <div class="ffxiv-jobs flex row">
                        <script define:vars={{ jobs }}>
                            const jobdiv =
                                document.getElementsByClassName(
                                    "ffxiv-jobs",
                                )[0];
                            for (const [jobname, level] of Object.entries(
                                jobs,
                            )) {
                                const classjob = document.createElement("div");
                                classjob.classList.add("classjob");
                                const img = document.createElement("img");
                                img.src =
                                    "/resources/classjob/" + jobname + ".png";
                                img.classList.add("ffxiv-jobicon");
                                const span = document.createElement("span");
                                span.innerHTML = level;
                                jobdiv.appendChild(classjob);
                                classjob.appendChild(img);
                                classjob.appendChild(span);
                            }
                        </script>
                    </div>
                </div>
                </div>
            </div>
        </ContSection>
    </Container>
</LayoutBase>