---
const lodestone = "https://eu.finalfantasyxiv.com/lodestone/character/46616687/"
const render = "https://img2.finalfantasyxiv.com/f/64b19500c983d0191dadd6a9dbf9d9fe_5047bc596a4bab2dc7f7c120bb22dec5fl0.jpg?1755017723"

const name = "B'occhi Rhock";
const world = "✿ Phoenix (Light)";
const fc = "None";
const msq = "Post-Dawntrail (7.3)"
const levels = {
    viper: "100",
    pictomancer: "100",
    redmage: "90",
    bard: "90",
    reaper: "90",
    samurai: "80",
    whitemage: "60",
    warrior: "40",
}

const healers = ["whitemage", "scholar", "astrologian", "sage"];
const tanks   = ["paladin", "warrior", "dark knight", "gunbreaker"];

import Base from '../layouts/Base.astro';
import Block from '../components/Block.astro';
import Intro from '../components/Intro.astro';
import Image from 'astro/components/Image.astro';

const pageDesc = name+" "+world;
---

<Base title="buh / ffxiv" class="flex flex-col gap-4" description={pageDesc}>

    <Intro page="/ ffxiv" title="thal's balls!">
        I'm not too active because I can't always afford my sub. My current goal for when I return to the game is to finish my plugin.
    </Intro>

    <Block title="B'occhi Rhock" link={lodestone} gradient="red" class="flex flex-col md:flex-row gap-4">
        <Image src={render} alt="A render of B'occhi Rhock" inferSize={true} class="ffxiv-render" />

        <div class="flex flex-col gap-2">
            <div class="flex flex-col">
                <span class="font-extrabold">World</span>
                <span>{world}</span>
            </div>

            <div class="flex flex-col">
                <span class="font-extrabold">Free Company</span>
                <span>{fc}</span>
            </div>

            <div class="flex flex-col">
                <span class="font-extrabold">MSQ Progress</span>
                <span>{msq}</span>
            </div>

            <div>
                <span class="font-extrabold">Main Jobs</span>
                <div class="jobs-list flex flex-col gap-2">
                    <script define:vars={{ levels, healers, tanks }}>
                            const jobDivTank = document.createElement("div");
                            jobDivTank.classList.add("job", "job-tank");
                            const jobDivHealer = document.createElement("div");
                            jobDivHealer.classList.add("job", "job-healer");
                            const jobDivDps = document.createElement("div");
                            jobDivDps.classList.add("job", "job-dps", "gap-2");
                            const mainDiv = document.getElementsByClassName("jobs-list")[0];
                            for (const [jobname, level] of Object.entries(levels)) {
                                const classjob = document.createElement("div");
                                classjob.classList.add("classjob");
                                const img = document.createElement("img");
                                img.src =
                                    "/classjob/" + jobname + ".png";
                                img.classList.add("ffxiv-jobicon");
                                const span = document.createElement("span");
                                span.innerHTML = level;
                                if (healers.includes(jobname)) { classjob.classList.add("classjob-healer"); jobDivHealer.appendChild(classjob); }
                                else if (tanks.includes(jobname)) { classjob.classList.add("classjob-tank"); jobDivTank.appendChild(classjob); }
                                else {classjob.classList.add("classjob-dps"); jobDivDps.appendChild(classjob); }
                                classjob.appendChild(img);
                                classjob.appendChild(span);
                            }
                            mainDiv.appendChild(jobDivDps);
                            mainDiv.appendChild(jobDivTank);
                            mainDiv.appendChild(jobDivHealer);
                    </script>
                </div>
            </div>
        </div>
	</Block>

</Base>

<style is:global>
    .ffxiv-render {
        width: 100%;
        height: auto;
        max-width: 420px; 
        max-height: 310px;
        object-fit: cover;
        object-position: top;
        border-radius: var(--radius-default);
        border: 1px solid var(--border-color);
    }
    @media (min-width: 768px) {
        .ffxiv-render {
            width: auto;
            height: 310px;
            max-width: none;
        }
    }
    .job {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
	.classjob {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        background: var(--bg-default);
        padding: 0.25rem;
        padding-right: 0.30rem;
        border-radius: 6px;
        border: 1px solid var(--border-color);
    }
	.ffxiv-jobicon {
        width: 24px;
        height: 24px;
    }
</style>

