---
export const prerender = false;
import Base from "../layouts/Base.astro"
import Image from "astro/components/Image.astro";

import Block from "../components/Block.astro";
import WidgetLanyard from "../components/WidgetLanyard.astro";
import SocialButton from "../components/SocialButton.astro";
import FriendButton from "../components/FriendButton.astro";

import icon_dl from "../assets/deadlock.webp";

const birthday = new Date('2004-03-21');
const today = new Date();
let age = today.getFullYear() - birthday.getFullYear();
const m_diff = today.getMonth() - birthday.getMonth();
const d_diff = today.getDate() - birthday.getDate();
if (m_diff < 0 || (m_diff === 0 && d_diff < 0)) age -= 1;


// social urls
const bsky = "https://bsky.app/profile/buh.moe";
import BlueskyIcon from "~icons/simple-icons/bluesky";
const twitter = "https://twitter.com/amemoia";
import TwitterIcon from "~icons/simple-icons/twitter";
const discord = "https://discord.com/users/254204775497859073"
import DiscordIcon from "~icons/simple-icons/discord";
const steam = "https://steamcommunity.com/id/amemoia/"
import SteamIcon from "~icons/simple-icons/steam";
const github = "https://github.com/amemoia"
import GithubIcon from "~icons/simple-icons/github";

import b_nta from '../assets/88x31/nta.png'
import b_ada from '../assets/88x31/ada.gif'
import b_notnite from '../assets/88x31/notnite.png'
import b_sapphic from '../assets/88x31/sapphic.png'
import b_nano from '../assets/88x31/nano.gif'
import b_prefetcher from '../assets/88x31/prefetcher.png'
import b_ata from '../assets/88x31/ata.png'
import b_alyxia from '../assets/88x31/alyxia.png'

import d_wave from '../assets/blocks/wave2.png'
import d_quill from '../assets/blocks/quill.png'
import d_minibuh from '../assets/blocks/minibuh.png'
--- 

<Base
    title="amemoia"
>
    <div class="index-main">
        <div class="hero">
            <div class="flex flex-col md:flex-row">
                <Block deco={d_wave} class="hero-intro grow text-right justify-end text-fancy">
                    <span>welcome to buh.moe</span>
                    <span>my little corner of the internet</span>
                </Block>
                <Block deco={d_quill} class="grow text-fancy bg-red">
                    <h1 class="pulp text-2xl">Testimonials</h1>
                    <span>would put random guestbook messages here</span>
                    <span>would put random guestbook messages here</span>
                    <span>would put random guestbook messages here</span>
                </Block>
            </div>

            <Block deco={d_minibuh} decoLarger={true}>
                <div class="mb-4">
                    <WidgetLanyard />
                </div>
                <div>
                    <p class="font-bold text-2xl md:text-3xl text-fancy">hi there!</p>
                    <p>im alex buh, a {age}yo student from <span class="accent">Poland 🇵🇱</span></p>
                    <p>i like to play games, mess around with computers and be generally unproductive!</p>
                    <p class="italic">this website is inspired by and uses assets from <a href="https://store.steampowered.com/app/1422450/Deadlock/" target="_blank" class="accent-green"> <Image src={icon_dl} alt="A green deadlock logo" style="width: 1.25rem; height: 1.25rem; display: inline-block; position: relative; bottom: 2px; left: 2px;"}/> Deadlock</a>, an upcoming game by Valve</p>
                </div>
            </Block>
        </div>

        <div class="flex flex-col gap-1 mt-4">
            <Block class="noborder p-0!">
                <h1 class="pulp text-3xl text-center">Socials</h1>
                <div class="flex flex-row flex-wrap justify-center">
                    <SocialButton 
                        icon={BlueskyIcon}
                        name="Bluesky" 
                        handle="@buh.moe"
                        url={bsky}
                        color="#0C7BFF"
                    />
                    <SocialButton 
                        icon={TwitterIcon}
                        name="Twitter" 
                        handle="@amemoia"
                        url={twitter}
                        color="#1DA1F2"
                    />
                    <SocialButton 
                        icon={SteamIcon}
                        name="Steam" 
                        handle="/id/amemoia"
                        url={steam}
                        color="#1A9FFF"
                    />
                    <SocialButton 
                        icon={DiscordIcon}
                        name="Discord" 
                        handle="@buh.moe"
                        url={discord}
                        color="#5865F2"
                    />
                    <SocialButton 
                        icon={GithubIcon}
                        name="GitHub" 
                        handle="@amemoia"
                        url={github}
                        color="#8B5CF6"
                    />
                </div>
            </Block>

            <Block class="noborder p-0!">
                <h1 class="pulp text-3xl text-center">Friends</h1>
                <div class="flex flex-row flex-wrap my-2 justify-center">
                    <FriendButton src={b_sapphic.src} alt="sapphic.moe" url="https://sapphic.moe" />
                    <FriendButton src={b_ada.src} alt="ada.cat" url="https://ada.cat" />
                    <FriendButton src="https://hoshimiuwu.github.io/HideawayHotlink.gif" alt="jumpyuvu" url="https://hoshimiuwu.github.io" />
                    <FriendButton src="https://themooskyfish.nekoweb.org/res/moosky.gif" alt="TheMooskyFish" url="https://themooskyfish.nekoweb.org" />
                    <FriendButton src="https://remblanc.nekoweb.org/images/button.png" alt="remblanc" url="https://remblanc.nekoweb.org" />
                    <FriendButton src={b_alyxia.src} alt="alyxia" url="https://alyxia.dev/" />
                    <FriendButton src={b_notnite.src} alt="notnite" url="https://notnite.com/" />
                    <FriendButton src="https://babybreaths.nekoweb.org/images/babibutton.png" alt="babi" url="https://babybreaths.nekoweb.org" />
                    <FriendButton src={b_nta.src} alt="nta" url="https://ntauthority.me/" />
                    <FriendButton src="https://erisdump.neocities.org/buttons/88x31.gif" alt="eris" url="https://erisdump.neocities.org/" />
                    <FriendButton src={b_prefetcher.src} alt="prefetcher" url="https://prefetcher.net/" />
                    <FriendButton src={b_nano.src} alt="nano" url="https://nanoshinono.me/" />
                    <FriendButton src={b_ata.src} alt="ata.moe" url="https://ata.moe/" />
                </div>

                <div class="flex flex-col items-center">
                    <h1 class="pulp text-xl">My button</h1>
                    <button class="button-preview" id="copy-button" type="button" aria-label="Copy button code">
                        <img src="/resources/buttons/88x31.png" alt="amemoia" width="88" height="31" />
                    </button>
                    <span class="font-light text-sm copy-hint opacity-50" id="copy-hint">(click to copy code!)</span>
                </div>
            </Block>
        </div>

    </div>
</Base>

<style>
	.side {
		background: #BE1931;
		z-index: 1;
		width: 64px;
		height: 80svh;
		border-bottom-right-radius: 8px;
        position: absolute;
        left: 0;
	}
    .hero-intro {
		user-select: none;
		background: url("../assets/bg-gothic.png"), #BE193190;
        background-size: auto auto;
		background-position: center center;
		background-blend-mode: color-burn;
		text-align: right;
	}
    .button-preview {
		border: 1px solid transparent;
	}
    .button-preview:hover {
		border-color: #be193280;
    }
    .button-preview:active {
		border-color: #BE1931;
    }
</style>

<script>
    const copyButton = document.getElementById('copy-button');
    const copyHint = document.getElementById('copy-hint');
    const codeText = '<a href="https://buh.moe/" target="_blank"><img src="https://buh.moe/resources/buttons/88x31.png"></a>';
    
    if (copyButton && copyHint) {
        copyButton.addEventListener('click', async () => {
            try {
                await navigator.clipboard.writeText(codeText);
                copyHint.textContent = 'copied!';
				copyHint.classList.remove('opacity-50');
                copyHint.classList.add('opacity-100');
                setTimeout(() => {
                    copyHint.textContent = '(click to copy code!)';
                    copyHint.classList.remove('opacity-100');
                    copyHint.classList.add('opacity-50');
                }, 2000);
            } catch (err) {
                console.error('Failed to copy:', err);
                copyHint.textContent = 'Failed to copy';
            }
        });
    }
</script>