---
export const prerender = false;
import Base from "../layouts/Base.astro"
import Image from "astro/components/Image.astro";

import HeroBanner from "../assets/hero-banner.png";
import HeroName from "../assets/hero-name.svg";
import WidgetLanyard from "../components/WidgetLanyard.astro";
import SocialButton from "../components/SocialButton.astro";
import FriendButton from "../components/FriendButton.astro";

import icon_dl from "../assets/deadlock.webp";

const birthday = new Date('2004-03-21');
const today = new Date();
let age = today.getFullYear() - birthday.getFullYear();
const m_diff = today.getMonth() - birthday.getMonth();
const d_diff = today.getDate() - birthday.getDate();
if (m_diff < 0 || (m_diff === 0 && d_diff < 0)) age -= 1;


// social urls
const bsky = "https://bsky.app/profile/buh.moe";
import BlueskyIcon from "~icons/simple-icons/bluesky";
const twitter = "https://twitter.com/amemoia";
import TwitterIcon from "~icons/simple-icons/twitter";
const discord = "https://discord.com/users/254204775497859073"
import DiscordIcon from "~icons/simple-icons/discord";
const steam = "https://steamcommunity.com/id/amemoia/"
import SteamIcon from "~icons/simple-icons/steam";
const github = "https://github.com/amemoia"
import GithubIcon from "~icons/simple-icons/github";

import b_nta from '../assets/88x31/nta.png'
import b_ada from '../assets/88x31/ada.gif'
import b_notnite from '../assets/88x31/notnite.png'
import b_sapphic from '../assets/88x31/sapphic.png'
import b_prefetcher from '../assets/88x31/prefetcher.gif'
import b_ata from '../assets/88x31/ata.png'
--- 

<Base>
	<div class="hero">
		<div class="hero-side"></div>
		<div class="hero-block flex flex-col text-3xl">
			<div class="hero-block-inner flex flex-col">
				<div class="self-end mt-auto flex flex-col hero-block-text">
					<span>welcome to buh.moe</span>
					<span>my little corner of the internet</span>
				</div>
			</div>
		</div>
		<div class="hero-deco">
			<div class="hero-deco-inner bg-texture-darkest p-8 flex flex-col gap-4">
				<h1 class="pulp text-2xl md:text-3xl">Testimonials</h1>
				<span>would put random guestbook messages here</span>
				<span>would put random guestbook messages here</span>
				<span>would put random guestbook messages here</span>
			</div>
			<!-- 
			<Image src={HeroName} alt="Mina's Nameplate" class="hero-name"/>
			<span class="hero-quote montiac uppercase text-shadow-black text-shadow-lg">I'll make them bleed</span>
			<Image src={HeroBanner} alt="Mina Ha from Deadlock" class="hero-banner" />
			-->
		</div>
		<div class="hero-profile">
			<div class="index-section-grid p-4 md:p-8 gap-4 lg:gap-8 bg-texture-dark font-light text-xl md:text-2xl">
				<div class="flex flex-col justify-center items-center">
					<div class="bg-texture-darkest w-fit rounded-lg shadow-md px-2 self-center justify-center">
						<WidgetLanyard />
					</div>
				</div>
				<div class="flex flex-col justify-center profile-text">
					<p class="font-bold text-2xl md:text-3xl">hi there!</p>
					<p>im alex buh, a {age}yo student from <span class="accent">Poland</span></p>
					<p class="italic">this website is inspired by and uses assets from <a href="https://store.steampowered.com/app/1422450/Deadlock/" target="_blank" class="accent-green"> <Image src={icon_dl} alt="A green deadlock logo" style="width: 1.25rem; height: 1.25rem; display: inline-block; position: relative; bottom: 2px; left: 2px;"}/> Deadlock</a>, an upcoming game by Valve</p>
				</div>
			</div>
		</div>

	</div>
	<div class="index-main flex flex-col">
		<div class="index-socials justify-center items-center bg-texture font-light text-xl md:text-2xl">
			<div class="scratch-mask-bottom pb-12"></div>
			<h1 class="pulp text-center text-3xl">Socials</h1>
			<div class="socials-grid flex flex-row px-4 justify-center items-center flex-wrap gap-2 md:gap-4 mt-8">
				<SocialButton 
					icon={BlueskyIcon}
					name="Bluesky" 
					handle="@buh.moe"
					url={bsky}
					color="#0C7BFF"
				/>
				<SocialButton 
					icon={TwitterIcon}
					name="Twitter" 
					handle="@amemoia"
					url={twitter}
					color="#1DA1F2"
				/>
				<SocialButton 
					icon={SteamIcon}
					name="Steam" 
					handle="/id/amemoia"
					url={steam}
					color="#1A9FFF"
				/>
				<SocialButton 
					icon={DiscordIcon}
					name="Discord" 
					handle="@buh.moe"
					url={discord}
					color="#5865F2"
				/>
				<SocialButton 
					icon={GithubIcon}
					name="GitHub" 
					handle="@amemoia"
					url={github}
					color="#8B5CF6"
				/>
			</div>
			<div class="scratch-mask-top-dark pt-12"></div>
		</div>
		<div class="flex flex-col bg-texture-dark pt-2">
			<h1 class="pulp text-center text-3xl">Friends</h1>
			<div class="flex flex-row flex-wrap my-8 items-center self-center justify-center px-4">
				<FriendButton src="https://themooskyfish.nekoweb.org/res/moosky.gif" alt="TheMooskyFish" url="https://themooskyfish.nekoweb.org" />
				<FriendButton src={b_sapphic.src} alt="sapphic.moe" url="https://sapphic.moe" />
				<FriendButton src={b_ada.src} alt="ada.cat" url="https://ada.cat" />
				<FriendButton src="https://notnite.com/buttons/notnite.png" alt="notnite" url="https://notnite.com/" />
				<FriendButton src="https://babybreaths.nekoweb.org/images/babibutton.png" alt="babi" url="https://babybreaths.nekoweb.org" />
				<FriendButton src={b_nta.src} alt="nta" url="https://ntauthority.me/" />
				<FriendButton src="https://remblanc.nekoweb.org/images/button.png" alt="remblanc" url="https://remblanc.nekoweb.org" />
				<FriendButton src="https://hoshimiuwu.github.io/HideawayHotlink.gif" alt="jumpyuvu" url="https://hoshimiuwu.github.io" />
				<FriendButton src="https://erisdump.neocities.org/buttons/88x31.gif" alt="eris" url="https://erisdump.neocities.org/" />
				<FriendButton src={b_prefetcher.src} alt="prefetcher" url="https://nanoshinono.me/" />
				<FriendButton src={b_ata.src} alt="ata.moe" url="https://ata.moe/" />
				<FriendButton src="https://nekoweb.org/assets/buttons/button6.gif" alt="Nekoweb" url="https://nekoweb.org/" />
			</div>
			<h1 class="pulp text-center text-xl">My button</h1>
			<!-- TODO 88x31 copy field -->
			<div class="scratch-mask-top pt-12"></div>
		</div>
	</div>
</Base>
<style>
	.hero {
		display: grid;
		grid-template-columns: 64px 600px 1fr;
		min-height: calc(100svh - 64px);
		height: auto;
		grid-template-rows: minmax(320px, 60vh) auto;
		grid-template-areas:
			"side block deco"
			"side intro intro";
	}
	.hero-side {
		grid-area: side;
		background: #BE1931;
		z-index: 1;
		width: 100%;
		height: auto;
		border-bottom-right-radius: 8px;
		margin-bottom: 1rem;
	}
	.hero-block {
		grid-area: block;
		z-index: 1;
		width: 100%;
		height: 100%;
		min-height: 256px;
	}
	.hero-block-inner {
		user-select: none;
		background: url("../assets/bg-gothic.png"), #BE193190;
		background-position: bottom center;
		background-size: auto, auto;
		background-blend-mode: color-burn;
		text-align: right;
		padding: 1em 1em 2em 0em;
	}
	.hero-block-text {
		text-shadow:    -3px -3px 0 #00000040,
						3px -3px 0 #00000040,
						-3px 3px 0 #00000040,
						3px 3px 0 #00000040,
						-3px 0 0 #00000040,
						3px 0 0 #00000040,
						0 -3px 0 #00000040,
						0 3px 0 #00000040,
						2px 0 8px #000;
	}
	@media (max-width: 500px) {
		.hero-block-inner {
			padding: 0.75em;
		}
		.hero-block-text {
			font-size: 1.5rem;
		}
	}

	.hero-deco {
		grid-area: deco;
		overflow: hidden;
		display: flex;
	}
	.hero-deco-inner, .hero-block-inner {
		flex-grow: 1;
		margin: 1rem;
		border-radius: 8px;
		border: 1px solid #BE1931;
	}
	.hero-profile {
		grid-area: intro;
		display: flex;
		flex-grow: 1;
		margin: 1rem;
		border-radius: 8px;
		border: 1px solid #BE1931;
		margin-top: 0;
	}
	.hero-profile > div { border-radius: 8px; }

	.hero-deco-inner { margin-top: 0; }
	
	@media (min-width: 1001px) {
		.hero-deco-inner { margin-left: 0; margin-top: 1em; }		
	}

	.hero-banner {
		position: absolute;
		object-fit: cover;
		height: 100%;
		object-position: top;
		z-index: -1;
		top: 0;
		right: 0;
	}
	.hero-name {
		position: absolute;
		bottom: 1em;
		right: 1em;
		width: min(80%, 300px);
		filter: drop-shadow(0 0px 4px #00000080);
	}
	.hero-quote {
		position: absolute;
		width: min(600px, 80%);
		align-self: flex-start;
		z-index: 1;
		margin: 32px 0 0 32px;
		font-size: 72px;
	}

	@keyframes grain-shift {
		0% {
			background-position: 0 0;
		}
		25% {
			background-position: -25% 10%;
		}
		50% {
			background-position: 15% -20%;
		}
		75% {
			background-position: -10% -12%;
		}
		100% {
			background-position: 0 0;
		}
	}
	.profile-text { text-align: center; }

	@media (max-width: 1000px) {
		.hero {
			grid-template-columns: 64px 1fr;
			min-height: fit-content;
			grid-template-rows: minmax(240px, auto) minmax(320px, auto) auto;
			grid-template-areas:
				"side block"
				"side deco"
				"side intro";
		}
		.hero-profile {
			min-height: fit-content;
		}
		.hero-quote {
			font-size: 36px;
		}
	}

	@media (min-width: 1345px) {
		.profile-text {
			text-align: left;
		}
	}

	.index-section-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
</style>