---
import NavHeader from "../components/NavHeader.astro"
import ParseTwemoji from "../components/ParseTwemoji.astro"
import Footer from "../components/Footer.astro"
import BaseLayout from "../components/BaseLayout.astro"
import Image from "astro/components/Image.astro"
const pageTitle = "amemoia"
const twitter = "https://x.com/amemoia"
const discord = "https://discord.com/users/254204775497859073"
const github = "https://github.com/amemoia"
const steam = "https://steamcommunity.com/id/amemoia/"
const bsky = "https://bsky.app/profile/buh.moe"
---
<BaseLayout pageTitle={pageTitle}>
	<div class="container">
		<h2>Hi there!</h2>
		<p>I'm Annie, I'm a 20yo student from <span class="accent">Poland 🇵🇱</span></p>
		<p class="lastp">I have an interest in programming, front-end development, UI design and video games. Feel free to look around :3</p>
	</div>
	<div class="flexcol container">
		<h2>Contact</h2>
		<p>You can find me on the following websites:</p>
		<a href={bsky} target="_blank">
			<i class="fa-brands fa-bluesky"></i>
			Bluesky <span class="accent-none">— @buh.moe</span>
		</a>
		<a href={twitter} target="_blank">
			<i class="fa-brands fa-twitter"></i>
			Twitter / X <span class="accent-none">— @amemoia</span>
		</a>
		<a href={discord} target="_blank">
			<i class="fa-brands fa-discord"></i>
			Discord <span class="accent-none">— @amemoia</span>
		</a>
		<a href={github} target="_blank">
			<i class="fa-brands fa-github"></i>
			GitHub <span class="accent-none">— @amemoia</span>
		</a>
		<a href={steam} target="_blank">
			<i class="fa-brands fa-steam"></i>
			Steam <span class="accent-none">— /id/amemoia</span>
		</a>
	</div>
	<div class="buttons-section flexcol container">
		<h2>cool places and friends</h2>
		<div class="buttons flexrow">
			<a href="https://themooskyfish.nekoweb.org" target="_blank"><Image src="https://themooskyfish.nekoweb.org/res/moosky.gif" width="88" height="31" alt="TheMooskyFish" /></a>
			<a href="https://remblanc.nekoweb.org" target="_blank"><Image src="https://remblanc.nekoweb.org/images/button.png" alt="remblanc" width="88" height="31" title="remblanc's incredible site" /></a>
			<a href="https://sapphic.moe" target="_blank"><Image src="https://sapphic.moe/buttons/friends/sapphic/image.png" width="88" height="31" alt="sapphic.moe"/></a>
			<a href="https://ada.cat" target="_blank"><Image src="https://ada.cat/b/me.gif" style="image-rendering:pixelated;" width="88" height="31" alt="ada.cat"/></a>
			<a href="https://onz.ee/" target="_blank"><Image src="https://onz.ee/assets/88x31s/png/onzecki.png" alt="onzecki" width="88" height="31" /></a>
			<a href="https://meow-d.github.io/" target="_blank"><Image src="https://meow-d.github.io/assets/images/buttons/meow_d.webp" alt="meow_d" title="meow_d" width="88" height="31"/></a>
			<a href="https://alyxia.dev/" target="_blank"><Image src="https://alyxia.dev/static/img/88x31/self.png" alt="alexia" width="88" height="31" /></a>
			<a href="https://nanoshinono.me/" target="_blank"><Image src="https://nanoshinono.me/prefetcher.gif" alt="prefetcher" width="88" height="31" /></a>
			<a href="https://ata.moe/" target="_blank"><Image src="https://ata.moe/88x31.png" alt="prefetcher" width="88" height="31" /></a>
			<a href="https://aria.coffee/" target="_blank"><Image src="https://aria.coffee/public/static/img/buttons/aria.png" alt="aria.coffee" width="88" height="31" /></a>
			<a href="https://notnite.com/" target="_blank"><Image src="https://notnite.com/buttons/notnite.png" alt="notnite" width="88" height="31" /></a>
			<a href="https://hl2.sh/" target="_blank"><Image src="https://hl2.sh/buttons/jay.png" width="88" height="31" alt="hl2.sh" /></a>
			<a href="https://dimden.dev/" target="_blank"><Image src="https://dimden.dev/services/images/88x31.gif" width="88" height="31" alt="dimden" /></a>
			<a href="https://nekoweb.org/" target="_blank"><Image src="https://nekoweb.org/assets/buttons/button6.gif" width="88" height="31" alt="Nekoweb" /></a>			
		</a>
		</div>
		<div class="buttons-my">
			<p>My button:</p>
			<div class="myButtonDiv flexrow">
				<a href="https://buh.moe/" target="_blank"><Image src="https://buh.moe/resources/buttons/88x31.gif" width="88" height="31" alt="amemoia" /></a>
				<textarea onclick="this.select()" readonly cols="70" rows="2">&lt;a href="https://buh.moe/" target="_blank"&gt;&lt;img src="https://buh.moe/resources/buttons/88x31.gif"&gt;&lt;/a&gt;</textarea>
			</div>
		</div>
	</div>
</BaseLayout>
