---
const PC = {
    "CPU" : "i5-7400",
    "GPU" : "GTX 1650 Super",
    "RAM" : "16GB",
    "OS" : "Windows 10 Pro"
};
const PERIPHERALS = {
    "Mouse": "Logitech G Pro Superlight",
    "Mousepad": "Logitech G640",
    "Keyboard": "HyperX Alloy FPS",
    "Audio": "Apple EarPods"
};
const LAPTOP = {
    "Model": "MacBook Air (2022)",
    "OS": "macOS Sequoia 26 (Beta)",
    "CPU": "Apple M2 (8-core) @ 3.50 GHz",
    "GPU": "Apple M2 (10-core)",
    "RAM": "16 GB",
    "Disk": "512 GB",
    "Display": "13,6-inch (2560 × 1664)"
};
const SOFTWARE = {
    "Browser": "Chrome",
    "Music" : "Cider (Apple Music)",
    "Authenticator": "Ente Auth",
    "Notes": "Obsidian",
    "Digital Art" : "Krita",
    "Code Editor": "VS Code",
    "Code Assistant": "GitHub Copilot"
}

import LayoutBase from "../components/LayoutBase.astro";
import Container from "../components/Container.astro";
import ContSection from "../components/ContSection.astro";
import SpecsList from "../components/SpecsList.astro";
import '../styles/specs.css';
const pageTitle = "ame / specs"
---
<LayoutBase pageTitle={pageTitle}>
    <Container title="THERMONUCLEAR BOMB" args="row">
        <div class="specs-merged">
            <ContSection args="flex row">
                <div class="specs-pc">
                    <h1>My PC</h1>
                    <SpecsList list={PC} ref="specs-pc" />
                </div>
            </ContSection>
            <ContSection>
                <div class="specs-peripherals">
                    <h1>Gear</h1>
                    <SpecsList list={PERIPHERALS} ref="specs-peripherals" />
                </div>
            </ContSection>
        </div>
    </Container>

    <Container title="DAILY LIFE">
        <div class="specs-merged">
            <ContSection args="specs-laptop">
                <h1>Laptop</h1>
                <SpecsList list={LAPTOP} ref="specs-laptop" />
            </ContSection>
            <ContSection args="specs-soft">
                <h1>Software</h1>
                <SpecsList list={SOFTWARE} ref="specs-soft" />
            </ContSection>
        </div>
    </Container>
    
</LayoutBase>