---
const PC = {
    '<i class="fa-solid fa-microchip"></i> CPU' : 'i5-7400',
    '<i class="fa-solid fa-wand-magic-sparkles"></i> GPU' : 'GTX 1650 Super',
    '<i class="fa-solid fa-memory"></i> RAM' : '16GB',
    '<i class="fa-brands fa-windows"></i> OS' : 'Windows 10 Pro'
};
const PERIPHERALS = {
    '<i class="fa-solid fa-computer-mouse"></i> Mouse': 'Logitech G Pro Superlight',
    '<i class="fa-solid fa-square"></i> Mousepad': 'Logitech G640',
    '<i class="fa-solid fa-keyboard"></i> Keyboard': 'HyperX Alloy FPS',
    '<i class="fa-solid fa-headphones"></i> Audio': 'Apple EarPods'
};
const LAPTOP = {
    '<i class="fa-solid fa-laptop"></i> Model': 'MacBook Air (2022)',
    '<i class="fa-brands fa-apple"></i> OS': 'macOS Sequoia 26 (Beta)',
    '<i class="fa-solid fa-microchip"></i> CPU': 'Apple M2 (8-core) @ 3.50 GHz',
    '<i class="fa-solid fa-wand-magic-sparkles"></i> GPU': 'Apple M2 (10-core)',
    '<i class="fa-solid fa-memory"></i> RAM': '16 GB',
    '<i class="fa-solid fa-hard-drive"></i> Disk': '512 GB',
    '<i class="fa-solid fa-display"></i> Display': '13,6-inch (2560 × 1664)'
};
const SOFTWARE = {
    '<i class="fa-solid fa-globe"></i> Browser': 'Chrome',
    '<i class="fa-solid fa-music"></i> Music' : 'Cider (Apple Music)',
    '<i class="fa-solid fa-lock"></i> Authenticator': 'Proton Pass',
    '<i class="fa-solid fa-pen"></i> Notes': 'Obsidian',
    '<i class="fa-solid fa-paintbrush"></i> Digital Art' : 'Krita',
    '<i class="fa-solid fa-code"></i> Code Editor': 'VS Code'
}

import LayoutBase from "../components/LayoutBase.astro";
import Container from "../components/Container.astro";
import ContSection from "../components/ContSection.astro";
import SpecsList from "../components/SpecsList.astro";
import '../styles/specs.css';
import ContTitle from "../components/ContTitle.astro";
const pageTitle = "ame / specs"
---
<LayoutBase pageTitle={pageTitle}>
    <div class="flex col" style="gap: 1em;">
        <div class="specs-merged">
            <Container title="THERMONUCLEAR BOMB" args="container-color-orange">
                <ContTitle>
                    <h3 class="subheader">PC</h3>
                    <h1>akame</h1>
                </ContTitle>
                <ContSection args="flex row">
                    <div class="specs-pc">
                        <SpecsList list={PC} ref="specs-pc" />
                    </div>
                </ContSection>
            </Container>
            <Container title="THERMONUCLEAR BOMB" args="container-color-purple">
                <ContTitle>
                    <h3 class="subheader">PERIPHERALS</h3>
                    <h1>Gear</h1>
                </ContTitle>
                <ContSection>
                    <div class="specs-peripherals">
                        <SpecsList list={PERIPHERALS} ref="specs-peripherals" color="purple" />
                    </div>
                </ContSection>
            </Container>
        </div>

        <div class="specs-merged">
            <Container args="container-color-orange">
                <ContTitle>
                    <h3 class="subheader">LAPTOP</h3>
                    <h1>saeko</h1>
                </ContTitle>
                <ContSection args="specs-laptop">
                    <SpecsList list={LAPTOP} ref="specs-laptop" />
                </ContSection>
            </Container>
            <Container args="container-color-purple">
                <ContTitle>
                    <h3 class="subheader">TOOLSET</h3>
                    <h1>Software</h1>
                </ContTitle>
                <ContSection args="specs-soft">
                    <SpecsList list={SOFTWARE} ref="specs-soft" color="purple" />
                </ContSection>
            </Container>
        </div>
    </div>
</LayoutBase>