---
import "../styles/bloodppuccin.css"
import ParseTwemoji from "../components/ParseTwemoji.astro"
import { ViewTransitions } from "astro:transitions"
import { Image } from "astro:assets"
const { pageTitle, description } = Astro.props;
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
const embedImage = "https://buh.moe/resources/embed-avi.png"
import pfp from "../img/sites/avatar.png"
const kofi = "https://ko-fi.com/amemoia"
const repo = "https://github.com/amemoia/amemoia.github.io/"
const ghBlood = "https://github.com/amemoia/bloodppuccin/"
const rss = "./rss.xml"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="description" content="amemoia's website" />
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content="my silly little website" />
		<meta property="og:image" content={embedImage}>
		<meta property="og:site_name" content="buh.moe">
		<meta property="og:url" content="https://buh.moe/">
		<meta content="#e12340" data-react-helmet="true" name="theme-color" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
		<script src="https://kit.fontawesome.com/abd3ad257b.js" crossorigin="anonymous"></script>
        <link
            rel="alternate"
            type="application/rss+xml"
            title="amemoia's blog"
            href={new URL("rss.xml", Astro.site)}
        />
		<title>{pageTitle}</title>
		<Analytics />
		<SpeedInsights />
	</head>
	<body>
		<div class="profile flexcol">
            <Image src={pfp} class="pfp" alt="amemoia's pfp" />
            <div class="profile-text flexrow">
                <h2>amemoia</h2>
                <span>🏳️‍🌈 🏳️‍⚧️ • she/her</span>
            </div>
        </div>
        <div class="navbar flexrow">
            <a href="/">Back</a>
            <a href="/bloodppuccin">Bloodppuccin</a>
            <a href="/bloodppuccin/palette">Palette</a>
            <a href={ghBlood}>GitHub</a>
        </div>
        <slot />
	</body>
	<ParseTwemoji />
</html>
