---
import Container from "./Container.astro";
import ContSection from "./ContSection.astro";
import ContTitle from "./ContTitle.astro";
const { name, date, tags, link, description } = Astro.props;
---
<Container>
    <ContTitle>
        <h1 class="project-name"><a href={link} target="_blank">{name}</a></h1>
    </ContTitle>
    <ContSection tier={3}>
        <span style="font-family: var(--fonts-alt4); text-transform: uppercase;">
            {tags}
        </span>
    </ContSection>
    <ContSection tier={2}>
        <span>
            <i class="fa-solid fa-calendar-days accent-green"></i> {date}
        </span>
    </ContSection>
    <ContSection tier={1}>
        <p class="project-desc">{description}</p>
    </ContSection>
</Container>