---
const { icon: IconComponent, name, handle, url, color } = Astro.props;

---
<a class="social-button" href={url} target="_blank" rel="noopener noreferrer">
    <div class="social-info items-center">
        <span
            class="social-site shadow-lg items-center font-semibold flex flex-row gap-2"
              data-social-site
              style={`background-color: ${color}; --social-skew: -10deg;`}
        >
            <span>
                {IconComponent && <IconComponent class="social-icon" />}
            </span>
            <span>
                {name} 
            </span>
        </span>
        <span class="social-handle opacity-75">{handle}</span>
    </div>
</a>

<style>
    .social-button {
        padding: 1rem;
        text-decoration: none;
    }

    .social-icon {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
    }

    .social-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-site {
        transform: skew(var(--social-skew)) rotate(0deg);
        padding: 0.5rem 1rem;
    }
    .social-button:hover {
        .social-site {
            transform: skew(var(--social-skew)) rotate(1deg);
        }
    }
</style>

<script>
    const socialSites = document.querySelectorAll<HTMLElement>('[data-social-site]');

    for (const site of socialSites) {
        const randomSkewDeg = -(5 + Math.random() * 5).toFixed(1);
        site.style.setProperty('--social-skew', `${randomSkewDeg}deg`);
    }
</script>